.cover__subtitle {
    margin: 0;
    max-width: 360px;
    z-index: 3;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 1;
}