.lead__subtitle {
    margin: 0;
    padding: 32px 0 64px;
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (maxwidth: 320px){
    .lead__subtitle {
        padding: 32px 0 56px;
    }
}

@media screen and (maxwidth: 320px){
    .lead__subtitle {
        max-width: 288px;
        padding: 16px 0 40px;
        font-size: 16px;
        line-height: 125%;
    }
}