.intro__title {
    margin: 0;
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
}

@media screen and (maxwidth: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 107%;
    }
}